sqlite3:
  adapter: sqlite3
  database: js_datatable.sqlite3

	mysql:
	  adapter: mysql2
	  hostname: localhost
	  username: root
	  password:
	  database: js_datatable
	  charset: utf8

	postgresql:
	  adapter: postgresql
	  hostname: localhost
	  username: postgres
	  password:
	  database: js_datatable
	  encoding: utf8